 

<!-- This is the main section of the site --> 
<div role="main">
  <div class="hero-unit container">
    <h1 class="visible-desktop">White Whale</h1>
  </div>
  <!--  Posts  -->
  <div class="container">
    <% for post in @posts %>
    <div class="row">
      <div class="span3">
        <h2><%= best_in_place post, :title %></h2>
        <p>Author: <%=  %>
          <br />
          Posted: <%= post.updated_at.strftime("%m/%d/%Y") %>
        </p>
        <% if current_user %>
          <p>
            <%= link_to "Destroy", post, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger btn-small" %>
          </p>
        <% end %>
      </div>
      <div class="span9">
        <%= best_in_place post, :content, type: :textarea %>
      </div>
    </div>
    <% end %>
  </div>
  <!--  End of posts -->

</div>
<!-- END of main section --> 
